<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <li>Your template at <code><a href="{{ '/home/sergio/Escritorio/prueba_tecnica/templates/convertir_ctr/index.html.twig'|file_link(0) }}">templates/convertir_ctr/index.html.twig</a></code></li>
    </body>
</html>
